# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create tables using markdown in Jupyter Notebook
- Demonstrate arithmetic expressions in Python
- Share notebooks through GitHub

Some of the popular languages that Scientist use are 
1. Python
2. R programming
3. SQL
4. Java and Java-ML

Some of the commonly used libraries used by Data Scientists include:
1. Pandas in Python
2. TensorFlow
3. Pytorch
4. Matplotlib
5. ggplot
7. Plotly

| Data Science Tools |
|-------|
| Jupiter Notebook |
| Google Colab|
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60


x=200
y=60
print("200min to Hours is equall", x/y)

200min to Hours is equall 3.3333333333333335

## Author
Lamia Jabrane

In [ ]:
++